<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de Usuario</h4>
                <h6 class="card-subtitle">Información del Usuario Conectado</h6>
                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre de Usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" [ngModel]="usuario.nombre" name="nombre" class="form-control" id="exampleInputuname" placeholder="Nombre de usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo del Usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" [disabled]="usuario.google" [ngModel]="usuario.email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Correo del Usuario" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Fotografía del Usuario</h4>
                <h6 class="card-subtitle">Información del Usuario Conectado</h6>
                <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" alt="" class="w150">
                <img *ngIf="imagenTemp" [src]="imagenTemp" alt="" class="w150">
                <input (change)="seleccionaImagen($event.target.files[0])" type="file" class="form-control">
                <br><br>
                <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Actualizar Foto</button>
            </div>
        </div>
    </div>
</div>