<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!--<div style="display: block">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
                </div>-->
                <app-grafico [grafico1]="graficos.grafico1"></app-grafico>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!--<div style="display: block">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
                </div>-->
                <app-grafico [grafico1]="graficos.grafico2"></app-grafico>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!--<div style="display: block">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
                </div>-->
                <app-grafico [grafico1]="graficos.grafico3"></app-grafico>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!--<div style="display: block">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
                </div>-->
                <app-grafico [grafico1]="graficos.grafico4"></app-grafico>
            </div>
        </div>
    </div>
</div>